<!DOCTYPE html>
<html id="konga">
<head>
    <title>Konga</title>
    <base href="<%= typeof base_url != 'undefined' ? base_url : '' %>">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/angular-xeditable/dist/css/xeditable.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/angular-spinkit/build/angular-spinkit.min.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/angular-chips/dist/main.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/angular-json-human/dist/angular-json-human.css?r=0.14.6">
    <link rel="stylesheet" href="/bower_components/mdi/css/materialdesignicons.css?r=0.14.6">
    <link rel="stylesheet" href="/styles/importer.css?r=0.14.6">
    <!--STYLES END-->
</head>

<body class="body">
<div class="main-container-wrapper side-nav--animatable" ng-class="{'full-width no-margin clear-left':$state.name.indexOf('auth') > -1}" style="">
    <!-- uiView: header --><div data-ui-view="header" class="ng-scope" style=""><!-- ngIf: isAuthenticated() --><nav class="navbar navbar-default navbar-main no-margin ng-scope" data-ng-if="isAuthenticated()">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" ng-click="toggleSideNav()" class="navbar-toggle hidden-md hidden-lg" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">


                <!-- NOTIFICATIONS DROPDOWN -->
                <li data-ng-show="auth.isAuthenticated()" uib-dropdown="" auto-close="outsideClick" keyboard-nav="" class="dropdown">
                    <!--<a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">-->
                        <!--<i class="mdi mdi-bell-outline"></i>-->
                        <!--<span class="badge badge-danger ng-binding ng-hide" ng-show="notifications &amp;&amp; notifications.length"></span>-->
                    <!--</a>-->
                    <ul class="dropdown-menu notifications-dropdown-menu animated fadeInDownShort go" uib-dropdown-menu="" role="menu" aria-labelledby="simple-btn-keyboard-nav">

                        <!-- ngIf: !notifications.length --><li role="menuitem" ng-if="!notifications.length" class="ng-scope">
                        <a>
                            There are no notifications at this point...
                        </a>
                    </li><!-- end ngIf: !notifications.length -->
                        <!-- ngRepeat: notification in notifications -->

                    </ul>
                </li>
                <!-- END NOTIFICATIONS DROPDOWN -->

                <!-- PROFILE DROPDOWN -->
                <li data-ng-show="auth.isAuthenticated() &amp;&amp; !no_auth" uib-dropdown="" keyboard-nav="" class="dropdown">
                    <!--<a class="nav-auth-img-container dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">-->
                        <!--<img class="nav-auth-img" ng-src="images/user-icon.png" src="images/user-icon.png">-->
                        <!--&nbsp;-->
                        <!--<span class="greeting visible-md-inline visible-lg-inline ng-binding">Hello, konga</span>-->
                        <!--<span class="caret"></span>-->
                    <!--</a>-->
                    <!-- ngIf: !no_auth --><ul class="dropdown-menu animated fadeInDownShort go ng-scope" ng-if="!no_auth" uib-dropdown-menu="" role="menu" aria-labelledby="simple-btn-keyboard-nav">

                    <li role="menuitem">
                        <a data-ui-sref="users.show({id:user().id})" href="#!/users/1">
                            <i class="mdi mdi-account-outline"></i>
                            Profile
                        </a>
                    </li>
                    <!-- ngIf: user().admin --><li role="menuitem" ng-if="user().admin" class="ng-scope">
                    <a data-ui-sref="users" href="#!/users">
                        <i class="mdi mdi-account-multiple"></i>
                        Users
                    </a>
                </li><!-- end ngIf: user().admin -->
                    <li role="menuitem">
                        <!-- ngIf: user().admin --><a data-ui-sref="settings" ng-if="user().admin" class="ng-scope" href="#!/settings">
                        <i class="mdi mdi-settings"></i>
                        Settings
                    </a><!-- end ngIf: user().admin -->
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a data-ng-click="logout()">
                            <i class="mdi mdi-logout-variant"></i>
                            Logout
                        </a>
                    </li>
                </ul><!-- end ngIf: !no_auth -->

                </li>
                <!-- END PROFILE DROPDOWN -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav><!-- end ngIf: isAuthenticated() -->



</div>
    <!-- ngIf: $stateParams.activated -->
    <div class="main-container-wrapper-static">
        <div class="container-fluid">

            <div class="main-container container">
                <!-- ngIf: isAuthenticated() && $state.name != 'admin' && $state.name != 'dashboard' --><div ng-if="isAuthenticated() &amp;&amp; $state.name != 'admin' &amp;&amp; $state.name != 'dashboard'" class="page-head ng-scope" style="">
                <h3 class="page-title">
                    <!--<span ng-bind-html="$state.data.prefix" class="page-title-prefix"></span>-->
                    <span ng-bind-html="$state.data.pageName" class="ng-binding">IDCSetting</span>&nbsp;
                    <div ng-show="loading" id="spinner" data-spinner="{&quot;radius&quot;: 15,&quot;strokeWidth&quot;:3}" style="display: inline-block;" class="ng-hide"><svg width="30" height="30" style="animation: 2s linear 0s infinite normal none running spin-rotate-1577439247341;"><circle cx="15" cy="15" r="12" fill="none" stroke-width="3" style="stroke-dasharray: 1, 120; stroke-dashoffset: 0; stroke-linecap: round; stroke: rgb(63, 136, 248); animation: 1.5s ease-in-out 0s infinite normal none running spin-dash-1577439247341;"></circle></svg></div>
                </h3>
                <!-- ngIf: $state.data.pageDescription --><p ng-if="$state.data.pageDescription" class="help-block ng-binding ng-scope" ng-bind-html="$state.data.pageDescription">这是个新页面</p><!-- end ngIf: $state.data.pageDescription -->
                <!-- ngIf: $state.data.displayName -->
            </div><!-- end ngIf: isAuthenticated() && $state.name != 'admin' && $state.name != 'dashboard' -->
                <br><br>
                <!-- uiView: content --><div data-ui-view="content" class="main-container-inner ng-scope" style=""><div class="row actions ng-scope">
                <div class="col-md-12">
                    <div class="pull-left">
                        <!-- ngIf: user.hasPermission($state.name.split('.')[0],'create') --><button class="btn btn-success ng-scope btnaddReq" >
                        <i class="mdi mdi-plus"></i>
                        机房调度
                    </button><!-- end ngIf: user.hasPermission($state.name.split('.')[0],'create') -->
                        <button class="btn btn-link btn-danger btn-addIDC">
                            &nbsp;
                            新建机房&nbsp;
                        </button>
                    </div>
                    <div class="pull-right list-search-filters ng-isolate-scope" data-filters="filters" data-options="itemsPerPageOptions" data-items="itemsPerPage">
                        <form class="form-inline ng-pristine ng-valid" role="form">
                            <div class="form-group">
                                <div class="input-group dropdown" uib-dropdown="" is-open="status.isopen">
                <span class="input-group-addon dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-magnify"></i>
                </span>
                                    <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="search..." data-ng-model-options="{debounce: 500}" data-ng-model="filters.searchWord">
                                    <!--<span class="input-group-addon clickable">-->
                                    <!--<button type="button" class="btn btn-primary btn-sm" data-ng-click="search()">-->
                                    <!--Search-->
                                    <!--</button>-->

                                    <!--</span>-->

                                    <!--<ul uib-dropdown-menu class="dropdown-menu animated fadeInDownShort go dropdown-menu-arrow" role="menu">-->
                                    <!--<li class="title padding-left">Affected columns</li>-->
                                    <!--<li class="divider"></li>-->
                                    <!--<li data-ng-repeat="column in filters.columns | filter: inSearch">-->
                                    <!--<a  data-ng-click="column.inSearch = !column.inSearch; $event.preventDefault(); $event.stopPropagation();">-->
                                    <!--<i class="material-icons"-->
                                    <!--data-ng-class="{'opaque': !column.inSearch}"-->
                                    <!--&gt;done</i>-->


                                    <!--<span-->
                                    <!--data-ng-if="column.titleSearch"-->
                                    <!--data-ng-bind="column.titleSearch"-->
                                    <!--&gt;</span>-->

                                    <!--<span-->
                                    <!--data-ng-if="!column.titleSearch"-->
                                    <!--data-ng-bind="column.title"-->
                                    <!--&gt;</span>-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--</ul>-->


                                </div>
                                <div class="input-group">
                <span class="input-group-addon">
                    Results :
                </span>
                                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" data-ng-model="items" data-ng-options="page for page in options"><option label="10" value="number:10">10</option><option label="25" value="number:25" selected="selected">25</option><option label="50" value="number:50">50</option><option label="100" value="number:100">100</option></select>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

                <!-- ngIf: loading && !items.length -->
                <!-- ngIf: !loading || items.length --><div class="row ng-scope" ng-if="!loading || items.length" style="">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>
                                <tr>
                                    <!-- ngRepeat: item in titleItems | filter:titleFilter --><th width="1" class="text-nowrap ng-scope" data-ng-repeat="item in titleItems | filter:titleFilter">
                                    <a class="clickable ng-binding ng-hide" data-ng-show="item.column" data-ng-click="changeSort(item)" data-ng-bind-html="item.title.toUpperCase()"></a>
                                    <span data-ng-show="!item.column" data-ng-bind-html="item.title.toUpperCase()" class="ng-binding"></span>
                                    <!-- ngIf: item.checkbox -->
                                    <i class="mdi ng-hide mdi-chevron-up" data-ng-show="sort.column == item.column" data-ng-class="{'mdi-chevron-down': !sort.direction, 'mdi-chevron-up': sort.direction}">
                                    </i>
                                </th><!-- end ngRepeat: item in titleItems | filter:titleFilter --><th width="" class="text-nowrap ng-scope" data-ng-repeat="item in titleItems | filter:titleFilter">
                                    <a class="clickable ng-binding" data-ng-show="item.column" data-ng-click="changeSort(item)" data-ng-bind-html="item.title.toUpperCase()">HISID</a>

                                </th><!-- end ngRepeat: item in titleItems | filter:titleFilter --><th width="" class="text-nowrap ng-scope" data-ng-repeat="item in titleItems | filter:titleFilter">
                                    <a class="clickable ng-binding" data-ng-show="item.column" data-ng-click="changeSort(item)" data-ng-bind-html="item.title.toUpperCase()">HisName</a>

                                </th><!-- end ngRepeat: item in titleItems | filter:titleFilter --><th width="" class="text-nowrap ng-scope" data-ng-repeat="item in titleItems | filter:titleFilter">
                                    <a class="clickable ng-binding" data-ng-show="item.column" data-ng-click="changeSort(item)" data-ng-bind-html="item.title.toUpperCase()">广州机房</a>

                                </th><!-- end ngRepeat: item in titleItems | filter:titleFilter --><th width="" class="text-nowrap ng-scope" data-ng-repeat="item in titleItems | filter:titleFilter">
                                    <a class="clickable ng-binding" data-ng-show="item.column" data-ng-click="changeSort(item)" data-ng-bind-html="item.title.toUpperCase()">长沙机房</a>

                                </th><!-- end ngRepeat: item in titleItems | filter:titleFilter -->
                                    <!-- ngIf: user.hasPermission('upstreams','edit') --><th width="1" ng-if="user.hasPermission('upstreams','edit')" class="ng-scope"></th><!-- end ngIf: user.hasPermission('upstreams','edit') -->
                                    <!-- ngIf: user.hasPermission('upstreams','delete') --><th width="1" ng-if="user.hasPermission('upstreams','delete')" class="ng-scope"></th><!-- end ngIf: user.hasPermission('upstreams','delete') -->
                                </tr>
                                <tr ng-repeat="item in items.data | orderBy:sort.column:sort.direction | filter : filters.searchWord | itemsPerPage: itemsPerPage" class="ng-scope">
                                    <td>
                                        <span class="text-nowrap clickable ng-binding ng-isolate-scope" data-ng-click="openRawView(item)" data-item="item"><i uib-tooltip="Raw view" class="mdi mdi-eye-outline"></i></span>
                                    </td>
                                    <td class="ng-binding">1</td>
                                    <td>
                                        <!-- ngRepeat: tag in item.tags --><span class="badge badge-tag badge-success badge-inverse ng-binding ng-scope" ng-repeat="tag in item.tags">
                            <i class="mdi mdi-tag"></i>&nbsp;
                            广州粤北人民医院
                        </span><!-- end ngRepeat: tag in item.tags -->
                                    </td>
                                    <td class="ng-binding">10%</td>
                                    <td class="ng-binding">90%</td>
                                    <!-- ngIf: user.hasPermission('upstreams','edit') --><td ng-if="user.hasPermission('upstreams','edit')" class="ng-scope">
                                    <a class="btn clickable btn-primary btn-link" data-ui-sref="upstreams.edit({id:item.id})" href="#!/upstreams/588754ad-0807-446e-9c04-35d548fcbf71">
                                        <i class="mdi mdi-information-outline"></i>
                                        details
                                    </a>
                                </td><!-- end ngIf: user.hasPermission('upstreams','edit') -->
                                    <!-- ngIf: user.hasPermission('upstreams','delete') --><td ng-if="user.hasPermission('upstreams','delete')" class="ng-scope">
                                    <button type="button" ng-click="deleteItem($index,item)" class="btn btn-danger btn-link">
                                        <i class="mdi mdi-delete"></i>
                                        Delete
                                    </button>
                                </td><!-- end ngIf: user.hasPermission('upstreams','delete') -->
                                </tr>

                                <!-- ngIf: items.length === 0 && !loading -->
                                <!-- ngIf: loading -->
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div><!-- end ngIf: !loading || items.length -->

            </div>


            </div>
            </div>
        </div>
    <div class="modal-content " id="addIDCModel" uib-modal-transclude="" ><div class="modal-header primary ng-scope">
        <h4 class="modal-title" id="modal-title">
            新增机房
            <a class="modal-close pull-right" ng-click="close()">
                <i class="mdi mdi-close closeAddIDC"></i>
            </a>
        </h4>
    </div>

        <div class="modal-body ng-scope" id="modal-body">
            <form class="form-horizontal ng-pristine ng-valid">
                <div class="form-group" ng-class="{'has-error' : errors.username}">
                    <label class="col-sm-4 control-label">IDC <br><em>
                        <small class="help-block">机房名称</small>
                    </em></label>
                    <div class="col-sm-7">
                        <input ng-model="consumer.username" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                        <!-- ngIf: errors.username -->
                        <p class="help-block">这里填入
                            <code>机房名称</code> </p>
                    </div>
                </div>

                <!-- end ngIf: isGatewayVersionEqOrGreater('1.1.0-rc1') -->

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-7">
                        <button type="button" class="btn btn-primary btn-block addIDCSubmit">
                            <i class="mdi mdi-check"></i>
                            Submit
                        </button>
                    </div>
                </div>

            </form>
        </div></div>

    <div class="modal-content"id="addReq" uib-modal-transclude=""><div class="modal-header primary ng-scope">
        <h4 class="modal-title" id="modal-title1">
            新增请求调度
            <a class="modal-close pull-right" ng-click="close()">
                <i class="mdi mdi-close closeAddReq"></i>
            </a>
        </h4>
    </div>

        <div class="modal-body ng-scope" id="modal-body1">
            <form class="form-horizontal ng-pristine ng-valid">
                <div class="form-group" ng-class="{'has-error' : errors.username}">
                    <label class="col-sm-4 control-label">hisID <br><em>
                        <small class="help-block">医院id</small>
                    </em></label>
                    <div class="col-sm-7">
                        <input ng-model="consumer.username" class="form-control ng-pristine ng-untouched ng-valid ng-empty hisId">
                        <!-- ngIf: errors.username -->
                        <p class="help-block">这里填入
                            <code>hisId</code></p>
                    </div>
                </div>


                <div class="form-group" ng-class="{'has-error' : errors.custom_id}">
                    <label class="col-sm-4 control-label">机房<br><em>
                        <small class="help-block">idc</small>
                    </em></label>
                    <div class="col-sm-7">
                        <select ng-model="upstream.hash_fallback" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty idcChoice">
                            <option value="0">广州机房</option>
                            <option value="1">深圳机房</option>
                        </select>
                        <!-- ngIf: errors.hash_fallback -->
                        <p class="help-block">
                            机房调度选择
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error' : errors.custom_id}">
                    <label class="col-sm-4 control-label">机房调度百分比<br><em>
                        <small class="help-block">percentage</small>
                    </em></label>
                    <div class="col-sm-7">
                        <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty reqPer">

                        </select>
                        <!-- ngIf: errors.hash_fallback -->
                        <p class="help-block">
                            机房调度选择
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-7">
                        <button type="button" class="btn btn-primary btn-block addReqSubmitt" >
                            <i class="mdi mdi-check"></i>
                            Submit
                        </button>
                    </div>
                </div>

            </form>
        </div></div>
    </div>
    <!-- uiView: footer --><div data-ui-view="footer" class="ng-scope"><!-- ngIf: isAuthenticated() --><footer ng-if="isAuthenticated()" class="ng-scope">
    <div class="navbar navbar-footer navbar-fixed-bottom">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left no-margin">
                <li>
                    <a>
                        <strong class="text-success ng-binding">KONGA 0.14.7</strong>
                    </a>
                </li>
                <li class="hidden-xs">
                    <a href="https://github.com/pantsel/konga" target="_blank">
                        <i class="fa fa-github"></i>GitHub
                    </a>
                </li>

                <li class="hidden-xs">
                    <a href="https://github.com/pantsel/konga/issues" target="_blank">
                        <i class="mdi mdi-18px mdi-bug"></i>Issues
                    </a>
                </li>
                <li>
                    <a href="https://buymeacoff.ee/F1aRIj8CG" target="_blank">
                        <i class="mdi mdi-18px mdi-coffee"></i>
                        Support the project
                    </a>
                </li>

            </ul>
            <!-- ngIf: user.hasPermission('connections','read') --><ul class="nav navbar-nav navbar-right hidden-xs ng-scope" style="margin-right: 5px" ng-if="user.hasPermission('connections','read')">
            <li data-ng-show="isAuthenticated()" uib-dropdown="" is-open="isOpen" auto-close="disabled" keyboard-nav="" class="dropdown">
                <a class="clickable dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <i class="mdi mdi-18px mdi-cast-connected"></i>
                    Connected to
                    <strong class="ng-binding">dev-kong</strong>
                </a>
                <ul class="dropdown-menu animated fadeInUpShort go panel panel-primary-outside" uib-dropdown-menu="" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li role="menuitem" style="background-color: #f4f4f4">

                        <a>

                            Choose connection
                            <i class="mdi mdi-close pull-right clickable" data-ng-click="isOpen = !isOpen"></i>
                        </a>
                    </li>
                    <li role="menuitem">
                        <table class="table table-hover no-margin" style="width:300px">
                            <tbody><!-- ngRepeat: connection in connections --><tr data-ng-repeat="connection in connections" class="clickable ng-scope" data-ng-click="activateConnection(connection)" style="">
                                <td>
                                    <!-- ngIf: connection.checkingConnection -->
                                    <!-- ngIf: !connection.checkingConnection --><div data-ng-if="!connection.checkingConnection" class="ng-scope">
                                    <i class="mdi text-primary mdi-checkbox-blank-outline" ng-class="user.node.id == connection.id ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"></i>
                                </div><!-- end ngIf: !connection.checkingConnection -->
                                </td>
                                <td><strong class="ng-binding">dev-kong</strong></td>
                                <td class="ng-binding">v1.4.0</td>
                            </tr><!-- end ngRepeat: connection in connections --><tr data-ng-repeat="connection in connections" class="clickable ng-scope" data-ng-click="activateConnection(connection)">
                                <td>
                                    <!-- ngIf: connection.checkingConnection -->
                                    <!-- ngIf: !connection.checkingConnection --><div data-ng-if="!connection.checkingConnection" class="ng-scope">
                                    <i class="mdi text-primary mdi-checkbox-blank-outline" ng-class="user.node.id == connection.id ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"></i>
                                </div><!-- end ngIf: !connection.checkingConnection -->
                                </td>
                                <td><strong class="ng-binding">dev-kong</strong></td>
                                <td class="ng-binding">v1.4.0</td>
                            </tr><!-- end ngRepeat: connection in connections --><tr data-ng-repeat="connection in connections" class="clickable ng-scope" data-ng-click="activateConnection(connection)">
                                <td>
                                    <!-- ngIf: connection.checkingConnection -->
                                    <!-- ngIf: !connection.checkingConnection --><div data-ng-if="!connection.checkingConnection" class="ng-scope">
                                    <i class="mdi text-primary mdi-checkbox-marked-outline" ng-class="user.node.id == connection.id ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"></i>
                                </div><!-- end ngIf: !connection.checkingConnection -->
                                </td>
                                <td><strong class="ng-binding">dev-kong</strong></td>
                                <td class="ng-binding">v1.4.0</td>
                            </tr><!-- end ngRepeat: connection in connections -->
                            </tbody></table>
                    </li>

                </ul>

            </li>
            <!--<li data-ng-show="isAuthenticated()">-->
            <!--<a class="clickable" data-ng-click="showConnectionsModal()">-->
            <!--<i class="material-icons">cast_connected</i>-->
            <!--{{user.node.kong_admin_url}}-->
            <!--|-->
            <!--Kong version : <strong>{{Gateway.version}}</strong>-->
            <!--</a>-->
            <!--</li>-->
        </ul><!-- end ngIf: user.hasPermission('connections','read') -->
        </div>
    </div>
</footer><!-- end ngIf: isAuthenticated() --></div>
</div>


<script src="js/dependencies/sails.io.js"></script>
<script src="jquery.min.js"></script>
<script src="min/production.min.js?r=0.14.7"></script>
<script>
    var authorization = "Bearer eyJhbGciOiJIUzI1NiJ9.MQ.Lu-KcR4aCeuT9hi1K474zV3s4VaopLDCcf4nZvH6DQo";
    var localIp = '192.168.111.140';
    $("#addIDCModel").hide();
    $("#addReq").hide();


    $.ajax({
        url: ' http://'+localIp+':1337/kong/services/',
        type: 'get',
        contentType: "application/x-www-form-urlencoded",
        headers:{'authorization': authorization},
        success: function (result) {
            alert(result);
        }
    });

    $('body').on('click', '.btn-addIDC', function () {
        $("#addIDCModel").show();
        $("#addReq").hide();
        $("html, body").animate({
            scrollTop: $("#addIDCModel").offset().top }, {duration: 500,easing: "swing"});
        return false;
    });

    $('body').on('click', '.btnaddReq', function () {
        $("#addReq").show();
        $("#addIDCModel").hide();
        $("html, body").animate({
            scrollTop: $("#addReq").offset().top }, {duration: 500,easing: "swing"});
        $(".reqPer").html("");
        for (var i=0; i <= 100; i++){
            var select = "<option value="+i+">"+i+"%</option>";
            $(".reqPer").append(select);
        }
        return false;
    });

    $('body').on('click', '.addIDCSubmit', function () {
        $("#addIDCModel").hide();
        alert("新增机房成功！");
    });

    $('body').on('click', '.addReqSubmitt', function () {
        $("#addReq").hide();
        var hisId = $(".hisId").val();
        var idc = $(".idcChoice").val();
        //0广州/1深圳
        var gzPer;
        var szPer;
        if (idc == 0){
           gzPer = $(".reqPer").val();
           szPer = 100 - gzPer;
        } else {
            szPer = $(".reqPer").val();
            gzPer = 100 - szPer;
        }
        console.log(gzPer+szPer+hisId+idc);
        creatService(hisId);
        alert("新增his请求调度成功！");
    });

    $('body').on('click', '.closeAddIDC', function () {
        $("#addIDCModel").hide();
    });

    $('body').on('click', '.closeAddReq', function () {
        $("#addReq").hide();
    });
    
    function creatService(hisId) {
        var tags = [];
        var data = {
            'name' : getServiceName(hisId),
            'host' : getUpstreamName(hisId),
            'protocol' : "http",
            'port' : 80,
            'retries' : 5,
            'connect_timeout' : 60000,
            'write_timeout' : 60000,
            'read_timeout' : 60000,
            'tags' : tags,
            'token' : authorization
        }
        $.ajax({
            url:' http://'+localIp+':1337/kong/services/',
            type: 'post',
            contentType: "application/json",
            headers:{'authorization': authorization},
            data :JSON.stringify(data),
            success: function (result) {
                var id = result.id;
                createRoute(id, hisId);
                createUpstream(hisId,);
            }
        });
    }

    /**
     * 获得命名规则下的service名称
     * @param hisId
     * @returns {string}
     */
    function getServiceName(hisId) {
        if (hisId != null && hisId != ""){
            return "service_his_" + hisId;
        } else {
            return "service_his_default" + 0;
        }
    }

    /**
     * 获得命名规则下的route名称
     * @param hisId
     * @returns {string}
     */
    function getRouteName(hisId) {
        if (hisId != null && hisId != ""){
            return "Route_his_" + hisId;
        } else {
            return "Route_his_default" + 0;
        }
    }

    /**
     * 获得命名规则下的route名称
     * @param hisId
     * @returns {string}
     */
    function getUpstreamName(hisId) {
        if (hisId != null && hisId != ""){
            return "upstream_his_" + hisId;
        } else {
            return "upstream_his_default" + 0;
        }
    }
    function getRouteHostName(hisId) {
        if (hisId != null && hisId != ""){
            return "his_" + hisId;
        } else {
            return "his_default" + 0;
        }
    }
  function createRoute(serviceId, hisId) {
        var data = {
            'name' : getRouteName(hisId),
            'hosts' : [getRouteHostName(hisId)],
            'strip_path' : true,
            'preserve_host' :false,
            'https_redirect_status_code' : 426,
            'regex_priority' : 0,
            'service' : {
                'id' : serviceId
            },
            'token' : authorization
        };
        $.ajax({
            url:' http://'+localIp+':1337/kong/routes/',
            type: 'post',
            contentType: "application/json",
            headers:{'authorization': authorization},
            data :JSON.stringify(data),
            success: function (result) {
                alert(result.name);
            }
        });
    }

    function createUpstream(hisId, szPer, gzPer) {
        var data = {
            'name' : getUpstreamName(hisId),
            'slots' : 10000,
            'token' : authorization
        };
        $.ajax({
            url:' http://'+localIp+':1337/kong/upstreams/',
            type: 'post',
            contentType: "application/json",
            headers:{'authorization': authorization},
            data :JSON.stringify(data),
            success: function (result) {
                var id = result.id;
                createTarget(id, "sz.com", szPer);
                createTarget(id, "gz.com", gzPer);
            }
        });
    }

    function createTarget(id,target,szWeight) {
        var data = {
            'target' : target,
            'weight' : szWeight,
            'token' : authorization
        };
        $.ajax({
            url:' http://'+localIp+':1337/kong/upstreams/'+id+'/targets',
            type: 'post',
            contentType: "application/json",
            headers:{'authorization': authorization},
            data :JSON.stringify(data),
            success: function (result) {
                alert(result.target);
            }
        });
    }
</script>
</body>
</html>
